################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/artifacts
/src/Web/Properties/PublishProfiles/FolderProfile1.pubxml.user
